*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;

    color: #454545;
}

button {
    font-family: 'Montserrat';
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    background-color: #fff;
    box-shadow: #000 0 -1.25rem 1.563rem;
}

.header__bar,
.banner__container,
.about__content,
.why-are-we__container,
.prices__container,
.contacts__form,
.footer__phones,
.footer__copyrigh,
.header__mobile {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}

.header__bar,
.banner__container,
.about__content,
.why-are-we__container,
.prices__container,
.contacts__form,
.header__mobile {
    padding: 0.938rem 1.875rem;
}

.footer__phones {
    padding: 0.938rem 1.875rem 0.465rem;
}

.footer__copyrigh {
    padding: 0.465rem 1.875rem 0.938rem;
}

.nav__list,
.contacts__list,
.phones__list,
.why-are-we__list,
.prices__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.contacts__list {
    margin-bottom: 0.75rem;

    display: flex;
}

.about,
.why-are-we,
.prices {
    margin: 6.25rem 0;
}

.about__title,
.why-are-we__title,
.prices__title,
.contacts__title {
    margin: 1.25rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.188rem;
    text-align: center;
}

.about__title::before,
.why-are-we__title::before,
.prices__title::before,
.contacts__title::before {
    margin-right: 0.5rem;
}

.about__title::after,
.why-are-we__title::after,
.prices__title::after,
.contacts__title::after {
    margin-left: 0.5rem;
}

.about__title::before,
.about__title::after,
.why-are-we__title::before,
.why-are-we__title::after,
.prices__title::before,
.prices__title::after,
.contacts__title::before,
.contacts__title::after {
    content: "";
    width: 2.5rem;
    height: 0.14rem;
    display: inline-block;
    background-color: #454545;
}

.header__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list,
.phones__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list > li,
.phones__item {
    margin: 0 0.938rem;
}

.nav__list a,
.contacts__link,
.phones__item-link {
    text-decoration: none;
    font-weight: 600;

    transition: all .2s;
}

.nav__list a,
.contacts__link {
    color: #21272f;
}

.nav__list .nav__item-link--current {
    color: #bf3f27;
}

.phones__item-link {
    color: #fff;
}

.contacts__link {
    font-size: 0.875rem;
}

.contacts__item:not(:last-child) {
    margin-right: 1.25rem;
}

.contacts__btn {
    padding: 0.625rem 1.563rem;
    border-width: 0;
    border-radius: 0.438rem;

    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;

    background-color: #efefef;

    transition: all .2s;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.burger__btn,
.back-call__close-btn {
    padding: 0.469rem;
    border-width: 0;

    background-color: transparent;

    font-size: 0.006rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger__btn::before,
.burger__btn::after,
.back-call__close-btn::before {
    content: "";
}

.burger__btn--open span,
.burger__btn--open::before {
    margin-bottom: 0.375rem;
}

.burger__btn span,
.burger__btn::before,
.burger__btn--open::after {
    width: 2.188rem;
    height: 0.313rem;

    background-color: #000;
}

.back-call__close-btn span,
.back-call__close-btn::before {
    width: 1.25rem;
    height: 0.125rem;

    background-color: #fff;
}

.burger__btn span,
.burger__btn::before,
.burger__btn--open::after,
.back-call__close-btn span,
.back-call__close-btn::before {
    border-radius: 0.625rem;
}

.burger__btn--close {
    width: 2.5rem;
    height: 2.5rem;
}

.burger__btn--close,
.back-call__close-btn {
    justify-content: center;
    align-items: center;
}

.burger__btn--close span,
.back-call__close-btn span {
    position: absolute;
    transform: rotateZ(45deg);
    transition: all .1s;
}

.burger__btn--close::before,
.back-call__close-btn::before {
    position: absolute;
    transform: rotateZ(-45deg);
    transition: all .1s;
}

.header__bar .header__burger {
    position: absolute;
    top: 1.5rem;
    right: 1.875rem;
}

.copyright {
    margin: 0;

    text-align: center;
}

.why-are-we {
    padding: 3.125rem 0; 
    color: #fff;

    background: rgb(56,128,143);
    background: linear-gradient(110deg, rgba(56,128,143,1) 0%, rgba(41,67,99,1) 100%);
}

.why-are-we__list {
    margin: 3.125rem 0;
    text-align: center;

    display: flex;
    justify-content: space-between;
}

.prices__list {
    margin: 3.125rem 0;
    text-align: center;

    display: flex;
    justify-content: space-around;
}

.why-are-we__ico,
.prices__ico {
    width: 12.5rem;
    height: 10rem;
}

.logo__link,
.custom-logo-link {
    width: 3.438rem;
    height: 3.438rem;

    display: block;
}

.why-are-we__ico img,
.prices__ico img,
.logo__ico,
.custom-logo {
    max-width: 100%;
    max-height: 100%;
    
    object-fit: contain;
    object-position: left;
}

.banner {
    margin-top: 5.938rem;
    min-height: calc(100vh - 5.938rem);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 0;

    background-image: url('https://fainaidea.com/wp-content/uploads/2017/02/74930502.jpg.pagespeed.ce_.sDf8FjyUEu.jpg');
    background-position: left bottom;
    background-size: cover;

    color: #fff;
}

.banner::before,
.contacts::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-color: #25252580;
}

.banner__container {
    display: flex;
    justify-content: space-between;
}

.banner__title {
    font-size: 3.75rem;
    margin: 1.875rem 0;
}

.banner__form {
    max-width: 100%;
    padding: 3.75rem 2.813rem;
    margin: 2.813rem;

    background-color: #81888bde;
    border-radius: 0.625rem;
}

.banner__form form {
    display: flex;
    flex-direction: column;
}

.form__input {
    max-width: 100%;
    width: 16.875rem;
    height: 2.813rem;
    padding: 0 1.875rem;
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    border-width: 0;
    border-radius: 0.938rem;
}

.form__btn {
    height: 3.125rem;
    border-width: 0;
    border-radius: 0.938rem;
    
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;

    color: #21272f;

    background-color: #c5c5c5;

    transition: all .2s;

    cursor: pointer;
}

.banner__right {
    max-width: 100%;
}

.banner__left {
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__content {
    margin: 2.813rem;
}

.contacts {
    min-height: 31.25rem;

    display: flex;

    position: relative;
    z-index: 0;

    background-image: url('https://www.blogoval.com/wp-content/uploads/2019/10/diamond-drilling-and-sawing.jpg');
    background-position: left bottom;
    background-size: cover;

    color: #fff;
}

.contacts__form {
    text-align: center;
}

.contacts__title::before,
.contacts__title::after,
.why-are-we__title::before,
.why-are-we__title::after {
    background-color: #fff;
}

.contacts__form form {
    max-width: 100%;
    margin-top: 2.813rem;
}

.contacts .form__input {
    margin: 0 0.625rem 0 0;
}

.contacts .form__btn {
    width: 12.5rem;
}

.footer {
    color: #fff;

    background-color: #21272f;
}

/* HOVER */
@media (min-width: 1001px) {
    .nav__list a:hover, 
    .contacts__link:hover, 
    .phones__item-link:hover {
        color: #bf3f27;
    }

    .contacts__btn:hover,
    .form__btn:hover {
        background-color: #bf3f27;
        color: #fff;
    }

    .back-call__close-btn:hover::before,
    .back-call__close-btn:hover span {
        background-color: #bf3f27;
    }
}

/* FOCUS */

.nav__list a:focus, 
.contacts__link:focus, 
.phones__item-link:focus {
    color: #bf3f27;
}

.contacts__btn:focus,
.form__btn:focus {
    background-color: #bf3f27;
    color: #fff;
}

.back-call__close-btn:focus::before,
.back-call__close-btn:focus span {
    background-color: #bf3f27;
}

.back-call {
    width: max-content;
    padding: 2rem 2.813rem;
    margin: 2.813rem auto;

    position: fixed;
    left: 50%;
    top: -150%;
    z-index: 1;

    transform: translate(-50%, -50%);

    border-radius: 0.625rem;
    background-color: #81888b;

    transition: all .3s;
}

.back-call--show {
    top: 50%;
}

.back-call form {
    display: flex;
    flex-direction: column;
}

.back-call__title {
    margin-top: 0;
}

.back-call__close-btn {
    width: 1rem;
    height: 1rem;

    position: absolute;
    right: 1rem;
    top: 1rem;
}

.fill__close {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-width: 0;

    position: fixed;
    top: -100vh;
    right: 0;
    bottom: 100vh;
    left: 0;

    z-index: 0;

    font-size: 0.1rem;
    color: #454545;
    background-color: #454545de;

    transition: all .3s;
}

.fill--show .fill__close {
    top: 0;
    bottom: 0;
}

.header__mobile .contacts__link {
    font-size: 1rem;
}

.header__mobile .contacts__list,
.header__mobile .contacts__item:last-child {
    margin-bottom: 0;
}

.header__mobile .contacts__item:not(:last-child) {
    margin-bottom: 0.5rem;
}

.banner__form {
    position: relative;
}

.banner__form form br,
.banner__form form p,

.contacts__form form br,
.contacts__form form p,

.back-call form br,
.back-call form p
{
    display: contents;
}

.wpcf7 .ajax-loader {
    position: absolute;
    right: 0;
    bottom: 1.5rem;
}

.wpcf7-not-valid-tip {
    margin: 0 0 8px 0;
    
    font-size: 0.75rem;
    font-weight: 600;

    text-align: left;
    color: #bf3f27;

    order: -1;
}

.wpcf7 form .wpcf7-response-output {
    color: #fff;
    font-size: .75rem;
    text-align: center;
    margin-bottom: 0;
}

.banner__form form .wpcf7-response-output, 
.back-call form .wpcf7-response-output 
{
    max-width: 16.875rem;
}

.wpcf7 form.failed .wpcf7-response-output, .wpcf7 form.aborted .wpcf7-response-output {
    border-color: #bf3f27;
}

.contacts__form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wpcf7-form-control-wrap {
    max-width: 100%;

    display: flex;
    flex-direction: column;
}

.contacts__form form.invalid .form__btn {
    margin-top: auto;
}

.contacts__form .wpcf7-form-control-wrap {
    justify-content: flex-end;
}


.scroll_to_top {
    width: 65px;
    height: 65px;

    position: fixed;
    right: 30px;
    bottom: 100px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.7rem;

    /*background-color: transparent;*/
    background-color: #ffffff;
    border: 3px solid #bf3f27;

    transition: all .3s;

    cursor: pointer;
}

.scroll_to_top--show {
    opacity: 1;
    pointer-events: inherit;
}

.scroll_to_top--hide {
    opacity: 0;
    pointer-events: none;
}

.scroll_to_top__title {
    font-size: 0.1px;
    color: transparent;
}

.scroll_to_top svg {
    margin-top: -0.3rem;
}